:root {
  --f-global-font: 'Inter', sans-serif;
  --c-text-main: #232e35;
  --c-background: #fff;
}

/* ! ------------------------- GLOBAL STYLES ------------------------- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  background-color: var(--c-background);
  font-family: var(--f-global-font);
  color: var(--c-text-main);
}

/* ! ------------------------- HEADER ------------------------- */
.page-header