:root {
  --f-global-font: 'Inter', sans-serif;
  --c-text-main: #232e35;
  --c-background: #fff;
}

/* ! ------------------------- GLOBAL STYLES ------------------------- */

body {
  font-family: var(--f-global-font);
  color: var(--c-text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* ! ------------------------- HEADER ------------------------- */
.page-header {
  padding-top: 40px;
}

.page-header .container {
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav-list {
  display: flex;
  gap: 56px;
}

.header-side-nav {
  display: flex;
  gap: 32px;
}

.page-nav-link {
  padding: 15px 0;
}

.btn-page-theme {
  /* display: block; */
}
