:root {
  /** -------------------- FONTS --------------------  */
  --f-global-font: 'Inter', sans-serif;
  --f-accent-font: 'Plus Jakarta Sans', sans-serif;

  /** -------------------- COLORS --------------------  */
  --c-text-main: #232e35;
  --c-text-sub: #656d72;
  --c-background: #fff;
  --c-sub-background: #fbfbfb;
  --c-primary: #7e74f1;
  --c-decoration: #eae6fe;
}

/* ! ------------------------- GLOBAL STYLES ------------------------- */

body {
  font-family: var(--f-global-font);
  color: var(--c-text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-title {
  font-family: var(--f-accent-font);
  font-size: 44px;
}

.section-title {
  font-family: var(--f-accent-font);
  font-size: 36px;
}

.subtitle {
  color: var(--c-text-sub);
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
}

.subtitle::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.local-title {
  font-family: var(--f-accent-font);
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* ! ------------------------- HEADER ------------------------- */
.page-header {
  padding-top: 40px;
}

.page-header .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 114px;
    overflow: hidden;
}

.logo-icon{
  
}

.page-nav-list {
  display: flex;
  gap: 56px;
}

.header-side-nav {
  display: flex;
  gap: 32px;
}

.page-nav-link {
  padding: 15px 0;
}

.btn-page-theme {
  /* display: block; */
}

/* ! ------------------------- HERO ------------------------- */
.hero-section {
  padding-top: 150px;
  padding-bottom: 150px;
}
.hero-section .container {
  display: flex;
  justify-content: space-between;
}
.hero-content-wrapper {
  padding-top: 105px;
  padding-bottom: 105px;
}
.hero-section .subtitle {
  margin-bottom: 16px;
}

.main-title {
  margin-bottom: 32px;
}

.title-accent{
  color: var(--c-primary);
}

.hero-description {
  max-width: 538px;
  margin-bottom: 40px;
}
.hero-socials-list {
  display: flex;
  gap: 32px;
}

.backgr-photo {
  width: 336px;
  height: 400px;
  background-color: #eae6fe;
  border-radius: 16px;
}
.hero-photo-wrapper {
  padding-right: 9px;
}
